.DS_Store
thumbs.db
/config.php
/.htaccess
content/uploads/
content/thumbnails/
content/blogs.dir/
content/upgrade/
content/backup-db/
content/cache/
content/minify/
content/load_cached/
content/backups/
content/plugins/bwp-minify/cache/
content/plugins/capsman/
content/plugins/**/.svn/
content/skins

content/plugins/w3tc-wp-loader.php
content/advanced-cache.php
content/db.php
content/object-cache.php
content/w3tc-config/


**/*-ck.js

phpinfo.php


getfile.php*

sitemap*

*.log
**/.svn
*.scssc
_design/**/*.psd
/*.project
/_sql/*.sql

nginx.conf


*.codekit

